@model IEnumerable<Admin.Models.VagaViewModel>

@{
    ViewBag.Title = "Listagem de Eventos";
}

<div class="row">
    <div class="card stacked-form">
        <div class="card-header ">
            <h4 class="card-title">Escolha o evento</h4>
        </div>
        <div class="card-body table-full-width table-responsive">
            <form class="form-horizontal" method="post" action="/Vaga/Cadastrar">
                <div class="col-md-12">
                    <table id="tbOportunidades" class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Data</th>
                                <th>Nome do Evento</th>
                                <th>Profissional</th>
                                <th>Quantidade</th>
                                <th>Valor Unitário</th>
                                <th>Valor Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.DataEvento.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @item.Nome
                                    </td>
                                    <td>
                                        @item.ProfissionalNome
                                    </td>
                                    <td>
                                        @item.Qtd
                                    </td>
                                    <td>
                                        @item.Valor
                                    </td>
                                    <td>
                                        @(item.Valor * item.Qtd)
                                    </td>
                                    <td class="td-actions text-right">
                                        <a onclick="getModalMatch(@item.Id)" class="btn btn-link btn-primary table-action view" href="#" rel="tooltip" title="Aprovar Profissionais">
                                            <i class="nc-icon nc-single-02" />
                                        </a>
                                        <a class="btn btn-link btn-success table-action view" href="@Url.Action("Cadastrar", "Vaga", item)" rel="tooltip" title="Editar Evento">
                                            <i class="nc-icon nc-tap-01" />
                                        </a>
                                        <a class="btn btn-link btn-danger table-action view" href="@Url.Action("Remover", "Vaga", item)" rel="tooltip" title="Desativar Evento">
                                            <i class="nc-icon nc-simple-remove" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div class="card-footer ">
        </div>
    </div>
</div>